*{
  scrollbar-width: thin;
  scrollbar-color: #145265;
}
body {
  background-color: var(--colorwhite);
  font-size: 16px;
  font-weight: 500;
  color: var(--textcolor);
  background-color: var(--whitecolor);
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
:root {
    --lightgraycolor: #f2f2f2;
    --blackcolor: #000;
    --whitecolor: #fff;
    --textcolor: #363636;
    --themecolor: #145d65;
    --themecolor1: #EB0029;
    --themecolor2: #ffc107;
    --themecolor3: #198754;
}
@font-face {
  font-family: 'Exo';
  src: url('../Fonts/Exo-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Acme';
    src: url('../Fonts/Acme-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../Fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Catamaran';
    src: url('../Fonts/Catamaran-VariableFont_wght.ttf') format('truetype');
}
.head{
  width: 100%;
}
.fixed{
  position: fixed;
  top: 0;
  width: 100%;
}
header{
  display: block;
  unicode-bidi: isolate;
}
.head_top{
  position: relative;
  padding: 10px 0;
  background-color: #146561;
  overflow: hidden;
  padding-left: 420px;
  height: 25px;
}
.cont_details {
  color: var(--whitecolor);
  float: left;
  font-size: 14px;
  padding-top: 4px;
}
.fa-phone {
  font-size: 21px;
  margin-top: 5px;
  color: var(--themecolor1);
  margin-right: 5px;
  float: left;
}
.scl_info {
 float: right;
  color: var(--whitecolor);
  padding-right: 40px;
  font-size: 15px;
  padding-top: 4px;
  height: 25px;
}
.fa-map-marker {
  color: var(--themecolor1);
  float: right;
  font-size: 21px;
  margin-right: 6px;
  margin-top: 4px;
}
.stickyhead{
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  height: 60px;
  width: 100%;
  background: var(--whitecolor);
}
.stickyhead{
/* position: fixed;
 padding-top: 0;*/
background-color: var(--whitecolor);
-webkit-transition: all ease 0.8s;
transition: all ease 0.8s;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
}
.main_logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px 19px;
}

.main_logo:before {
  background-color: var(--whitecolor);
  z-index: 1;
  border-radius: 0 150px 0px 0;
  content: '';
  height: 105px;
  width: 430px;
  position: absolute;
  top: 0;
  left: 0;
}

.main_logo:after {

  background-color: var(--themecolor);
  margin: 0px;
  border-radius: 0 150px 0px 0;
  content: '';
  height: 105px;
  width: 440px;
  position: absolute;
  top: 0;
  left: 0;
}
a.logo_img {
  position: relative;
  z-index: 99;
  width: 365px;
  display: block;
}
a.logo_img img {
  width: 100%;
}
header {
  /*-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;*/
  z-index: 10;
  display: flex;
  position: absolute;
}
header .desk-menu{
position: relative;
width: 100%;
}
header .desk-menu .box-menu{
/*-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;*/
position: relative;
padding: 0;
display: block;
margin: 0 auto;
float: right;
text-align: center;
margin-top: -10px;
margin-left: 20px;
margin-bottom: -10px;
padding-right: 40px;
}
.menu-cont{
margin-left: 10px;
float: left;
margin-top: -10px;
}
header .desk-menu .menu-cont .menu {
list-style: none;
position: relative;
/*-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;*/
}
.menu {
display: block;
list-style-type: disc;
/*margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
unicode-bidi: isolate;*/
}
.menu {
margin-top: 0;
margin-bottom: 1rem;
/*padding-left: 2rem;*/
}
header .desk-menu .menu-cont .menu > li {
 /* -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  -ms-transition: all 0.33s ease;
  -o-transition: all 0.33s ease;
  transition: all 0.33s ease;*/
  margin: 0 0 0 0px;
  float: left;
  cursor: pointer;
  position: relative;
  overflow: inherit;
  font-weight: bold;
  padding: 25px 17px 10px 6px;
}
header .desk-menu .menu-cont .menu > li .nav__link {
  position: relative;
  font-family: 'Catamaran';
  font-weight: bold;
  font-size: 15px;
  transition: all 0.3s ease;;
  align-items: center;
  color: black;
}
.nav__link {
  height: 100%;
  padding: 0;
  justify-content: initial;
}
.nav__link:hover {
  background-color: #e5d1d1;
}
/*header .desk-menu .menu-cont .menu>li .menu-item-children > li{
  padding:19px 19px 7px 8px;
  position: relative;
}*/
.dropdown__item {
  cursor: pointer;
}
.dropdown__arrow {
  font-weight: initial;
  transition: transform .5s;
}
a{
  text-decoration: none;
}
 .sub-menu{
  position: absolute;
 /* opacity: 0;*/
  left: 35%;
  transform: translateX(-35%);
  overflow: hidden;
  list-style: none;
  top: 60px;
  left: 0;
  width: 180px;
  max-height: 0;
  transition: max-height .4s ease-out;
  align-items: center;
}
.menu-item-children:hover .sub-menu
{
 max-height: 1000px;
 transition: max-height .4s ease-in;
}
.sub-menu .item{
border: 1px solid rgba(91, 85, 85, 0.45);
}
.item
{
  position: relative;
}
.sub-menu .item a{
  padding: 10px 10px 10px 10px;
  display: flex;
  left: 100;
  align-items: center;
  column-gap: 0.5rem;
  background-color: rgb(235, 244, 239);
 /* transition: background-color .3s;*/
  border-radius: 5px;
position: relative;
color: black;
font-weight: bold;
font-size: 15px;
text-decoration: none;
z-index: 1;
overflow: hidden;
transition: 0.5s;
transition-delay: calc(60ms * var(--i));
}
/*.item {
  font-size: 15px;
  font-weight: bold;
  font-weight: initial;
}*/
.sub-menu.active .item a{
  left: 0;
}
.item:hover a{
  color: rgba(126, 147, 135, 0.959);;
}
.sub-menu .item a span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #035f6c;
  z-index: -1;
  border-radius: inherit;
  transform: rotate(160deg);
  transform-origin: right;
  transition: 0.5s;
}
.sub-menu .item a:hover span{
  transform: rotate(0);
}
/* Rotate dropdown icon */
/*.sub-menu{
  list-style: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: cadetblue;
  line-height: 30px;
  width: 150px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0 , 0.3);
  transition: all 0.3s linear;
  visibility: hidden;
  opacity: 0;
}
.sub-menu .item{
  height: 30px;
border: 1px solid rgba(91, 85, 85, 0.45);
 text-align: left;
}
.sub-menu .item a{
font-size: 15px;
font: 500;
}
.menu-cont  .menu-item-children a i:hover > .sub-menu{
  visibility: visible;
  opacity: 1;
}*/